@import './vars';

@font-face{
	font-family:'Comfortaa';
	font-weight:400;
	font-style:normal;
	font-display:swap;
	src:url(../fonts/Comfortaa-Regular.woff2);
	src:url(../fonts/Comfortaa-Regular.woff2) format('woff2'),
    url(../fonts/Comfortaa-Regular.woff) format('woff'),
    url(../fonts/Comfortaa-Regular.ttf) format('truetype'),
    url(../fonts/Comfortaa-Regular.eot) format('embedded-opentype');
}

// @font-face{
// 	font-family:'Helvetica';
// 	font-weight:400;
// 	font-style:normal;
// 	font-display:swap;
// 	src:url(../fonts/HelveticaNeueCyr-Roman.woff2);
// 	src:url(../fonts/HelveticaNeueCyr-Roman.woff2) format('woff2'),
//     url(../fonts/HelveticaNeueCyr-Roman.woff) format('woff'),
//     url(../fonts/HelveticaNeueCyr-Roman.ttf) format('truetype'),
//     url(../fonts/HelveticaNeueCyr-Roman.eot) format('embedded-opentype');
// }

// @font-face{
// 	font-family:'Helvetica';
// 	font-weight:700;
// 	font-style:normal;
// 	font-display:swap;
// 	src:url(../fonts/HelveticaNeueCyr-Bold.woff2);
// 	src:url(../fonts/HelveticaNeueCyr-Bold.woff2) format('woff2'),
//     url(../fonts/HelveticaNeueCyr-Bold.woff) format('woff'),
//     url(../fonts/HelveticaNeueCyr-Bold.ttf) format('truetype'),
//     url(../fonts/HelveticaNeueCyr-Bold.eot) format('embedded-opentype');
// }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Comfortaa', sans-serif;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.block {
	display: block !important;
}

.hidden {
	overflow: hidden;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.general__button {
    background-color: $brown;
    border-radius: 10px;
    color: $white;
    padding: 18px 50px;
    font-size: 19px;
    line-height: 135%;
    border: 3px solid transparent;
    transition: 0.3s all ease-out;
    font-family: 'Comfortaa', sans-serif;
    letter-spacing: 0.265em;
    &:hover {
        background-color: transparent;
        border-color: $brown;
        color: $brown;
        cursor: pointer;
    }
}